{% extends 'base.html' %}
{% block title %}
关于我
{% endblock title %}

{% block li %}
     <li class=""><a href="{% url 'video:index' %}">电影<span class="sr-only">(current)</span></a></li>
     <li class="active"><a href="{% url 'video:about' %}">关于<span class="sr-only">(current)</span></a></li>
{% endblock li %}



{% block body %}

   <div class="container">
     <div class="panel panel-default">
          <div class="panel-body">
           <p>
              一个简单的django3.x  应用， 此应用仅供学习参考使用, thank~~~~
           </p>
          </div>
        </div>
   </div>









{% endblock body %}