{% extends 'base.html' %}


{% block title %}
视频播放测试页
{% endblock title %}

{% block li %}
     <li class="active"><a href="{% url 'video:index'%}">电影<span class="sr-only">(current)</span></a></li>
     <li class=""><a href="{% url 'video:about' %}">关于<span class="sr-only">(current)</span></a></li>
{% endblock li %}


{% block body %}

<div class="container">
    <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
               <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">视频播放</h3>
                  </div>
                  <div class="panel-body">
                      <h4>
                          <span class="label label-success">
                              片名:&nbsp;{{ movie.title | slice:10 }}
                          </span>
                          <span>&nbsp;&nbsp;</span>
                          <span class="label label-primary">
                              类型:&nbsp;{{ movie.category.category_name }}
                          </span>
                          <span>&nbsp;&nbsp;</span>
                         <!-- <span class="label label-primary">
                              发布人:&nbsp;{{ movie.user.username}}
                          </span> -->
                      </h4>
                     <video  id="media" poster="{{ movie.cover.url }}" src="{{ movie.movie_url.url }}"
                            style="width:100%;height:400px;object-fit: fill" controls="controls" >
                         <source src="{{ movie.movie_url.url }}" type="video/mp4">
                        您的浏览器不支持 video 标签。
                     </video>
<!-- {#                     <video id="media" src="" width="640" height="480" controls autoplay>您的浏览器不支持 video 标签 </video>#} -->
                  </div>
               </div>



                {% if username %}
                    <h4 >留言板:</h4>
                    <input type="hidden" value="{{ movie.id }}" id="get_movie_id">
                   <textarea class="form-control" rows="3" id="msg"></textarea><br>
                   <button type="button" class="btn btn-success" onclick="messageBtn()">留言</button>
                {% else %}
                    登录后才可评论！<a href="{% url 'video:login' %}">去登录。。。</a>
                {% endif %}


               <div style="background: white;margin: 12px auto;" id="list_msg">
                   <hr>
                   <h4>&nbsp;共有{{ msgs.count }}条,留言记录</h4>
                   <hr>
               {%if page%}
                    {% for msg in page.object_list %}
                        <h5>
                            <p style="font-size: 12px; font-weight: bolder">
                                &nbsp;
                                <span style="color: hotpink">{{ msg.username }}</span>于
                                <span style="color: #5bc0de">{{ msg.comment_time }}</span> 留言:</p>
                            <p>&nbsp;{{ msg.comment }}</p>
                        </h5>
                        <hr>

                    {% endfor %}
                {%else%}

                {%endif%}
                
                <script>
                    function messageBtn() {
                        var msg = $("#msg").val();
                        var movie_id = $("#get_movie_id").val();
                        var username = $("#user_role").val();
                        data = {
                            "comment": msg,
                            "movie_id": movie_id,
                            "username": username

                        };
                        $.get("{% url 'video:send_message'%}",data, function(msg){
                            msg = JSON.parse(msg);
                            if(msg.errno=='0'){
                                $("#msg").val("");

                                // alert(msg.msgs.comment)
                                location.href = "{% url 'video:detail_parse' movie.pk  %}"
                            }else{
                                alert(msg.errmsg)
                            }
                    });
                    }
                </script>
              </div>
            <!--分页功能-->
            <nav aria-label="..." >
                <ul class="pagination">
                {% if  page.has_previous %}
                <li>
                    <a href="{% url 'video:detail_parse' movie.pk %}?page_num={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                    {% else %}
                    <li class="disabled">
                    <a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                {% endif %}
    
                {% for pg in page_range %}
                    {% if page.number == pg %}
                        <li class="active">
                            <a href="{% url 'video:detail_parse' movie.pk %}?page_num={{ pg }}">{{ pg }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% elif pg == '...'%}
                        <li class="">
                            <a href="">{{ pg }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="">
                            <a href="{% url 'video:detail_parse' movie.pk %}?page_num={{ pg }}">{{ pg }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endif %}
    
                {% endfor %}
    
                {% if page.has_next %}
                <li>
                    <a href="{% url 'video:detail_parse' movie.pk %}?page_num={{ page.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                    {% else %}
                    <li class="disabled">
                    <a href="" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
                </li>
                {% endif %}
                </ul>
            </nav>
          </div>



          <div class="col-xs-12 col-sm-6 col-md-3" id="topic" >
              <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">推荐列表</h3>
                  </div>
                  <div class="panel-body" >
                      {% if movies %}
                          {% for movie in movies %}
                          <a href="{% url 'video:detail_parse' movie.pk %}">

                          <input type="hidden" value="{{ movie.pk }}" id="movie">
                          <h4><span class="label label-success">
                              片名:&nbsp;{{ movie.title | slice:10 }}
                              </span>
                          </h4>

                          <img src="{{ movie.cover.url }}"  alt="{{ movie.title }}" width="225px" height="130"/>
                          </a>
                              <br>
                          <span style="font-size: 12px; font-weight: bolder;color: black">
                              发布时间:&nbsp;&nbsp;{{ movie.pub_time | date:'Y-m-d' }}
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;
                          <span style="font-size: 12px; font-weight: bolder;color: black">
                              观看次数:&nbsp;&nbsp;{{ movie.click_num }}
                          </span>

                          {% endfor %}
                       {% else %}
                           <p>暂无视频数据</p>
                      {% endif %}
                  </div>
              </div>

          </div>

    </div>
</div>

{% endblock body %}
